:root {
    --blue-900: #0d2028;
    --blue-600: #105063;
    --blue-100: #176f84;
    --shade-100: #f2f2f2;
    --shade-900: #1e1e1e;
    --red-900: #c60000;

    --font-default: "Roboto", sans-serif;
    --font-h1: "Kaushan Script", cursive;
    --font-h2: "Lobster", cursive;

    --width-search: 400px;
    --width-page-seperator-1: 25%;
    --width-page-seperator-2: 75%;

    --padding-horizontal: 15em;

    --animation-bulletin-duration: 150ms;
    --animation-bulletin-element-width: 9ch;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-default);
    font-weight: 400;
    font-size: 1em;
}

h1 {
    font-family: var(--font-h1);
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-family: var(--font-h2);
    font-weight: 400;
    font-size: 2rem;
}

.container {
    background: rgb(242,242,242);
    background: -moz-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 24%, rgba(223,233,238,1) 41%, rgba(208,226,235,1) 53%, rgba(197,221,233,1) 62%, rgba(51,153,204,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 24%, rgba(223,233,238,1) 41%, rgba(208,226,235,1) 53%, rgba(197,221,233,1) 62%, rgba(51,153,204,1) 100%);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 24%, rgba(223,233,238,1) 41%, rgba(208,226,235,1) 53%, rgba(197,221,233,1) 62%, rgba(51,153,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#3399cc",GradientType=1);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navigation {
    background: var(--blue-900);
    display: grid;
    grid-template-columns: 25% calc(75% - var(--width-search) - 4em) var(--width-search);
    gap: 2em;
    margin-bottom: 4em;
    padding: 5em calc(var(--padding-horizontal) + 3em) 1em;
}

.dashboard {
    display: grid;
    grid-template-columns: 25% calc(75% - 2em);
    grid-template-areas: 
        "current weekly"
        "current hourly";
    box-sizing: border-box;
    gap: 2em;
    padding: 2em var(--padding-horizontal) 4em;

    .card:nth-child(1) {
        grid-area: current;
    }

    .card:nth-child(2) {
        grid-area: weekly;
    }
    
    .card:nth-child(3) {
        grid-area: hourly;
    }
}

.header,
.message {
    color: var(--shade-100);
}

.search {
    display: inline-block;
    position: relative;
    width: var(--width-search);
    
    .search__input {
        background: var(--shade-100);
        display: flex;
        width: 100%;
        outline: 1px solid var(--shade-900);
        padding: 0.1em 0.5em 0.1em 0.5em;
        box-sizing: border-box;

        &:focus-within {
            outline: 3px solid var(--shade-900);
        }

        input:first-child {
            width: auto;
            font-size: 1.125em;
            width: 100%;
            border: none;
            background: none;
            outline: none;
        }

        input:last-child {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 1.125em;
            border: none;
            background: none;
        }
    }

    .search__results {
        position: absolute;
        background: var(--shade-100);
        list-style: none;
        top: 31px;
        outline: 1px solid var(--shade-900);
        width: 100%;
        cursor: default;
        z-index: 1;
    
        li {
            padding: 0.1em 0.5em 0.1em 0.5em;
            box-sizing: border-box;
            width: 100%;
    
            &.selected {
                background: var(--blue-100);
                opacity: 20%;
            }
            
            p::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 0.8em;
                padding: 0.2em 0.2em 0.2em 0.2em;
                vertical-align: text-bottom;
                color: var(--red-900);
                content: "\f3c5";
                float: right;
            }
    
            .mismatch {
                color: var(--shade-400);
                opacity: 50%;
            }
    
            .match {
                color: var(--shade-900);
            }
        }
    }
}

.card {
    overflow: hidden;
    border-radius: 8px;
    opacity: 90%;

    .card__content {

        .card__title {
            color: var(--shade-100);
            padding: .5em 1.5em;
        }

        .card__title--primary {
            background-color: var(--blue-600);
        }

        .card__title--secondary {
            background-color: var(--red-900);
        }

        .card__body {
            padding: 2em;
        }

        .card__body--primary {
            background: rgb(67,129,153);
            background: -moz-linear-gradient(180deg, rgba(67,129,153,1) 0%, rgba(49,124,153,1) 13%, rgba(39,121,153,1) 26%, rgba(32,119,153,1) 50%, rgba(28,118,153,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(67,129,153,1) 0%, rgba(49,124,153,1) 13%, rgba(39,121,153,1) 26%, rgba(32,119,153,1) 50%, rgba(28,118,153,1) 100%);
            background: linear-gradient(180deg, rgba(67,129,153,1) 0%, rgba(49,124,153,1) 13%, rgba(39,121,153,1) 26%, rgba(32,119,153,1) 50%, rgba(28,118,153,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#438199",endColorstr="#1c7699",GradientType=1); 
        }

        .card__body--secondary {
            background-color: var(--shade-100);
        }

        .card__footer {

        }

        .card__footer--primary {
            
        }

        .card__footer--secondary {
            background-color: var(--shade-900);
            color: var(--shade-100);
            padding: .5em 1.5em;
        }

        .bulletin {
            height: 1rem;
            width: auto;
            position: relative;
            overflow: hidden;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 1rem;
                width: 2rem;
                z-index: 1;
            }

            &::before {
                background: -moz-linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);
                background: -webkit-linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);
                background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e1e",endColorstr="#1e1e1e",GradientType=1); 
                left: 0px;
            }

            &::after {
                background: -moz-linear-gradient(270deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);
                background: -webkit-linear-gradient(270deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);
                background: linear-gradient(270deg, rgba(30,30,30,1) 0%, rgba(30,30,30,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e1e1e",endColorstr="#1e1e1e",GradientType=1); 
                right: 0px;
            }

            .bulletin__message {
                position: absolute;
                white-space: nowrap;
                animation: 5s bulletin infinite linear both;
            }
        }

        @keyframes bulletin {
            0% {
                left: 100%;
            }
            100% {
                left: 0%;
                transform: translateX(-100%);
            }

        }
    }
}